* { box-sizing: border-box; 
	margin: 0;
	padding :0;
}

body{
	padding-top: 53px;
	color: #34495e;	
	font-size:10px;
	position: relative; 
}

/*===========================
nav bar
===============*/
.navbar>.container-fluid .navbar-brand{
  margin-left: 10%;
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover{
  color:	#f4b408;
  background-color: transparent;  
}
#nav1{
	padding-right: 2%; 
}
.navbar-inverse .navbar-brand{
	color: 	#9d9d9d;;
	font-size: 2.5em; 
}

/*==============================
carousel styles
====================*/
.container-fluid{
	padding-left: 0;
	padding-right: 0; 
}
.carousel{
  margin-top:-10px; 
}
#hero-header{
	margin-bottom: 20%;
}
#line0{
	width: 15%;
	margin: auto;
}

/*==============================
glyphicon 
==================*/
.glyphicon:hover{
	color: #f4b408;
}
.glyphicon{
  display: inline-block; 
}


/*===============================
about section
==================*/
.main-area1{
	background-color: #f4b408; 
}
.deco1{
	position: relative;
	width: 10%;
	left: 45%;
}
#line1{
	border-top: 1px solid #7c7676;
}
.about-section1{
	padding-top: 5em; 
}
#about-me{
	text-align: right;
}
#about-img{
	border-radius: 500em;
	width: 100%;
}
.about-section2{
	margin: auto;
	padding: 0 5em 5em 10em;
}
.list{
	list-style-type: none;
}


/*=================================
Contact section 
=======================*/
#contact-details{
	background:url("../img/c6.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 100em;
	color: #fff;
}
.deco2{
	position: relative;
	width: 10%;
	left: 46%;
}
#line2{
	border-top: 1px solid #333333;
}
#contact-me{
	color: #f4b408;
}
.glyphicon-phone:hover{
	color: #34495e;
}
.conact-section1{
	padding: 5%; 
}
/*form styles*/
.contact-form{
	padding-bottom: 15%;
}
#label{
	color: #fff;
}
.required{
	color: red;
}


/*============================
google maps
=================*/
#map {
	height: 15em;
  width: 80%;
  padding: 10%;
  margin: auto;
}
#address{
	padding : 10%; 
}


/*=============================
faq section 
==================*/
.faq-section{
	background:url("../img/c9.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.faq-container{
	width: 60%;
	margin: auto;
	height: 90em; 
}
.deco3{
	position: relative;
	width: 10%;
	left: 48%;
}
#faq-panel{
	padding-top: 6%;
}
#line3{
	border-top: 1px solid #34495e;
}
.panel-default>.panel-heading{
	background-color: #dcdcdc; 
	color: #000;
}
.panel-collapse{
	font-size:1.8em;
	color: #000;
}
#panel-color{
	color:	#4b2f65;
}
.panel-title{
	color: #41676d;
	font-size: 2em;
}
#last-faq{
	margin-bottom: 150px;
}


/*=============================
works area 
==================*/
.main-area2{
	background-color: #f4b408; 
	height: 80em;
}
.deco4{
	position: relative;
	left: 48%;
	width: 10%;
}
#line4{
	border-top: 1px solid #7c7676;
	padding-bottom: 5%;
}
#current-proj{
	padding-top: 5%;
}
#work-icons{
	margin: auto;
}
#work-icons:hover{
-moz-transform: rotate(-15deg);
-webkit-transform: rotate(-15deg);
-o-transform: rotate(-15deg);
-ms-transform: rotate(-15deg);
transform: rotate(-15deg); 
border: 2px solid #000;
}
#share-btn{
	color: #9d9d9d;
}


/*=============================
more area
==================*/
#summary{
	background:url("../img/c7.jpg");
	background-size: cover;
	text-align: center;
}
.deco5{
	position: relative;
	width: 7%;
	padding-bottom: 5%;
}
#summary-content{
	padding-top: 5%;
}
.logos li{
	display: inline-block;
	width: 15%
}
.logo a:hover{
	background-color:red;
}
/*resume styles*/
#resume-btn{
	background-color: #34495e;
	color: #000;
	border: none;
}
#resume-btn:hover{
	background-color: #f4b408; 
}
.modal-content{
  background-color: #000;
}
#modalembed{
  height: 500px; 
  width: 100%;
}
#close{
	color: #fff;;
} 
/*social media buttons*/
#twitter-share{
	display: inline-block;
	position: relative;
  top: 0.4em;
}
#share-btn{
	display: inline-block;
}
#summary-text{
	padding-bottom: 5%;
}

/*=========================
  side icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	/*display: inline;*/
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	/*display: inline;*/
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 	background-color: #000; 
 	opacity: 0.5;  
}

#social-media{
	position: fixed;  
	bottom: 50%;
	left:0;
	width: 5%;
}


/*===================
footer
===========*/

footer{
 height: 50px; 
 background-color: #f4b408;
 font-size: 0.5em;
 color: #fffff2;
}
#footer{
	padding: 1% 10%;
}
footer ul li{
	list-style-type: none;
}
#footer-name{
	float: left;
	padding: 5px; 
}
.footer-btn{
 	float:right;
 	padding: 5px; 
}


/*===================
Typography
==========*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
.panel-collapse,
#name,
#label{
	font-family: 'Abel', sans-serif;
}
p,
li{
	font-size: 2.5em;
}
#dropdwn-fonts {
	font-size: 0.5em;  
}
#about-me,
#contact-me,
#faq-heading,
#more-heading{
	font-size: 9em; 
	font-weight: bold; 
}
#abt-sub{
	font-size: 5em;
}
#label{
	font-size: 1.5em;
}


/*======================
media queries
=============*/
@media (max-width: 767px){
	p,
	li{
		font-size: 2em;
	}
	#hero-header h1,
	#hero-header p{
		font-size: 1.5em;
	}
	.navbar-right{
		padding-left: 25px; 
	}
	.collapsed{
		margin-right: 25px;
	}
	 #hero-header{
		margin-bottom: 6%;
	}
	#dropdwn-fonts {
		font-size: 0.5em;  
	}
	 .main-area1{
	 	padding: 0 20px;
	}
	#about-me,
	#contact-me,
	#faq-heading,
	#more-heading{
		font-size: 4em;  
	}
	#abt-sub{
		font-size: 3em;
	}
	.about-section1,
	.about-section2{
		padding: 0;
	}
	.faq-container{
		width: 80%;
	}
	.main-area2 {
    height: 40em;
	}
	/*resume*/
	#modalembed {
    height: 30em;
	}
	/*social media*/
	#social-media{
	position: fixed;  
	bottom: 30%;
	left:0;
	width: 5%;
	}
}





